/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.banner {
    /* padding: 50px 240px 0px 100px; */

}

.header .banner-pic {
    width: 500px;
}

/* main section styles */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* feature section styles */
.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.feature-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-title {
    text-align: center;
}

.crm-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 100px 100px 50px 100px;
    width: 1440px;
    height: 320px;
    justify-content: space-around;
}

