/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.banner {
    /* padding: 50px 240px 0px 100px; */

}

.header .banner-pic {
    width: 500px;
}

/* main section styles */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* feature section styles */
.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.feature-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-title {
    text-align: center;
}

.crm-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 100px 200px 0px 100px;
    width: 1440px;
    height: 320px;
    justify-content: space-around;
    align-items: center;
}

.offer {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-word {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-banner {
    display: flex;
    margin-top: 50px;
    width: 1922px;
    height: 620px;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 40px 20px 70px 200px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 50px 30px 40px 200px;
}

.offer-title {
    color: #E55473;
}

.insta-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


.latest-deal {
    background-image: url('../Flower\ Asset/')
}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.ld-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.deal-box {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding: 160px 50px 40px 30px;
    text-align: center;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-container {
    background: #111010;
    width: 1922px;
    height: 449px;
    margin-right: 0px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}
.footer-design{
    color: #FFF;
font-size: 48px;
font-weight: 800;
}
